/*Configuración de la página*/

* {
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

header{
    background: #0B5345;
    text-align: left;
    color: whitesmoke;
    padding: 10px;
}

footer{
    background: #0B5345;
    text-align: center;
    color: white;
    line-height: 40px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #7d0a42;
}

#menu{
    background-color: #E8F6F3;
}

#menu ul li{
    display: block;
    float: left;
    border-right: 5px solid #ccc;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover{
    background: #16A085;
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido {
    padding: 50px 100px;
    background: white;
    text-align: justify; 
    line-height: 1.5;
}

#principal {
    float: right;
    width: 400px;
    border-radius: 10px;
    border-style: double;
    margin-left: 15px;   
}

#personal {
    width: 130px;
    float: left;
    margin-right: 15px;
    border-style: groove;
}

#biografia{
    padding: 75px 450px;
    background: white;
    text-align: justify; 
    line-height: 1.5;
}

#contenidoP{
    margin: auto; 
    line-height: 1.5;
    padding: 20px 100px;
    border-collapse: separate; 
}

#titulosP{
    color: #6C3483;
    font-size: 25px;
    column-count: 2;
    text-align: center;
    font-weight: bold;
    column-gap: 40px;
}

#parrafoP{
    text-align: justify;
    column-count: 2;
    column-gap: 40px;
}


.clearFix{
    float: none;
    clear: both;
}